<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<style type="text/css">


	 .logo{
    	width: 60px;
    	height: 60px;
    	}
   a:link, a:visited, a:hover, a:active {
   		color:#333;
   		}
</style>
<script type="text/javascript">

</script>
</head>
<body>
    <header th:fragment="header" class="header">	
    		<img class="logo" th:src="@{/img/AccountBook.png}" />
    		<nav>
    			<ul>
    				<th:block th:if="${session.mdto==null}">
    				<h2>나의 지갑</h2>
    				<li class="active"><a href="/user/login">Home</a></li>
    				<li><a id="mypage" href="/user/mypage">Mypage</a></li>
    				<li><a href="/">Login</a></li>
    				</th:block>
    				<th:block th:unless="${session.mdto==null}">
    				<h2><span class="name" th:text="${session.mdto.id}"></span>님의 지갑</h2>
    				<li class="active"><a href="/schedule/calendar">Home</a></li>
    				<li><a id="mypage" href="/user/mypage">Mypage</a></li>
    				<li><a href="/user/logout">Logout</a></li>
    				</th:block>
    				
    			</ul>
    		</nav>
    </header>
</body>
</html>