<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<style type="text/css">


	 .logo{
    	width: 60px;
    	height: 60px;
    	}
   a:link, a:visited, a:hover, a:active {
   		color:#333;
   		}
    
</style>
<script type="text/javascript">

</script>
</head>
<body>
    <header>
<!--    	<div>-->
		
		
		
    		<img class="logo" th:src="@{/img/AccountBook.png}" />
    		<h2>(User)의 가계부</h2>
    		<nav>
    			<ul>
    				<li class="active"><a href="#">Home</a></li>
    				<li><a href="#">Mypage</a></li>
    				<li><a href="#">Logout</a></li>
    			</ul>
    		</nav>
<!--    	</div>-->
    </header>
</body>
</html>